<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<localRepository>${user.home}/.m2/repository</localRepository>
	<interactiveMode>true</interactiveMode>
	<usePluginRegistry>false</usePluginRegistry>
	<offline>false</offline>

	<activeProfiles>
		<activeProfile>agave</activeProfile>
	</activeProfiles>

	<profiles>
		<profile>
			<id>agave</id>
			<properties>
			
				<!-- *********************************************************************
                **************************************************************************
                **                                                                        **
                **                        Agave common properties                         **    
                **                                                                        **
                **************************************************************************
                ***********************************************************************-->
                
                <iplant.community.username>iplant</iplant.community.username>
				<iplant.community.password></iplant.community.password>
				<iplant.community.charge.number>TG-MCB110022</iplant.community.charge.number>
				<iplant.community.myproxy.server>myproxy.teragrid.org</iplant.community.myproxy.server>
				<iplant.community.myproxy.port>7512</iplant.community.myproxy.port>
				
				<irods.username>ipcservices</irods.username>
				<irods.password></irods.password>
				<irods.zone>iplant</irods.zone>
				<irods.host>data.iplantcollaborative.org</irods.host>
				<irods.port>1247</irods.port>
				<irods.resource>bitol</irods.resource>
				
                <foundation.api.version>2</foundation.api.version>
                <foundation.world.username>world</foundation.world.username>
                <foundation.public.username>public</foundation.public.username>
                <foundation.auth.source>wso2</foundation.auth.source>
                <foundation.service.slave.mode>false</foundation.service.slave.mode>
                <foundation.remote.default.path>/scratch/0004/iplant</foundation.remote.default.path>
                <foundation.local.scratch.dir>/tmp/iplant</foundation.local.scratch.dir>

                <!-- ********************** SSL Properties ************************* -->
                <foundation.keystore.path>/home/iplant/jssecacerts</foundation.keystore.path>
                <foundation.trusted.certs.path>/home/iplant/.globus/certificates</foundation.trusted.certs.path>
                <foundation.ca.certs.path>/home/iplant/.globus/certificates</foundation.ca.certs.path>
                
                <!-- ********************** Email Properties ************************* -->
                <foundation.smtp.user>iplant</foundation.smtp.user>
                <foundation.smtp.password></foundation.smtp.password>
                <foundation.smtp.host>localhost</foundation.smtp.host>
                <foundation.smtp.port></foundation.smtp.port>
                <foundation.smtp.auth>false</foundation.smtp.auth>
                <foundation.smtp.from.name>iPlant Support</foundation.smtp.from.name>
                <foundation.smtp.from.address>support@iplantcollaborative.org</foundation.smtp.from.address>
                
                <!-- ********************** SMS Properties *************************** -->
                <foundation.twilio.sid>AC181cbaa48625009dcf0b0bd702f3bba0</foundation.twilio.sid>
                <foundation.twilio.token>cbeaf4f6416b2f7db6a40cdcd0d39b22</foundation.twilio.token>
                <foundation.twilio.phone.number>+15129820745</foundation.twilio.phone.number>

                <!-- ********************** LDAP Properties ************************* -->
                <foundation.ldap.realm>iPlant Agave API</foundation.ldap.realm>
                <foundation.ldap.url>ldaps://ldap.iplantcollaborative.org</foundation.ldap.url>
                <foundation.ldap.port>636</foundation.ldap.port>
                <foundation.ldap.dn>ou=People,dc=iplantcollaborative,dc=org</foundation.ldap.dn>

                <!-- *************************** Database **************************** -->
                <foundation.db.jndi.connection>java:comp/env/jdbc/iplant_io</foundation.db.jndi.connection>
                <foundation.db.url>jdbc:mysql://localhost:3306/agave-api?zeroDateTimeBehavior=convertToNull&amp;sessionVariables=FOREIGN_KEY_CHECKS=0&amp;relaxAutoCommit=true</foundation.db.url>
                <foundation.db.host>bunker.tacc.utexas.edu</foundation.db.host>
                <foundation.db.bootstrap>jdbc:mysql://localhost:3306/mavenbootstrap?sessionVariables=FOREIGN_KEY_CHECKS=0&amp;relaxAutoCommit=true</foundation.db.bootstrap>
                <foundation.db.driver>com.mysql.jdbc.Driver</foundation.db.driver>
                <foundation.db.database>agave-api</foundation.db.database>
                <foundation.db.username>agaveapi</foundation.db.username>
                <foundation.db.password>7QpHneieyuQY</foundation.db.password>
                <foundation.db.auth.table>authentication_tokens</foundation.db.auth.table>
                <foundation.db.postits.table>postits</foundation.db.postits.table>
                <foundation.db.internaluser.table>internalusers</foundation.db.internaluser.table>
                <foundation.db.usage.table>Usage</foundation.db.usage.table>
                <foundation.db.usageservices.table>UsageServices</foundation.db.usageservices.table>
                <foundation.db.usageactivities.table>UsageActivities</foundation.db.usageactivities.table>


                <!-- ************************* Test Database ************************* -->
                <foundation.db.test.jndi.connection>java:comp/env/jdbc/iplant_io</foundation.db.test.jndi.connection>
                <foundation.db.test.url>jdbc:mysql://localhost:3306/test?sessionVariables=FOREIGN_KEY_CHECKS=0&amp;relaxAutoCommit=true</foundation.db.test.url>
                <foundation.db.test.host>localhost</foundation.db.test.host>
                <foundation.db.test.bootstrap>jdbc:mysql://localhost:3306/mavenbootstrap?sessionVariables=FOREIGN_KEY_CHECKS=0&amp;relaxAutoCommit=true</foundation.db.test.bootstrap>
                <foundation.db.test.driver>com.mysql.jdbc.Driver</foundation.db.test.driver>
                <foundation.db.test.database>test</foundation.db.test.database>
                <foundation.db.test.username>wcs</foundation.db.test.username>
                <foundation.db.test.password>d3f@ult$</foundation.db.test.password>

                <!-- *********************************************************************
                **************************************************************************
                **                                                                        **
                **                            Dependent services                             **    
                **                                                                        **
                **************************************************************************
                ***********************************************************************-->
                
                <!-- ********************** local beanstalkd ************************* -->
                
                <foundation.service.atmosphere>https://atmo.iplantcollaborative.org:443/auth</foundation.service.atmosphere>
                
                <!-- *********************** Messaging services ********************** -->
                
                <!-- ********************** local beanstalkd ************************* -->
                <foundation.service.messaging.provider>beanstalk</foundation.service.messaging.provider>
                <foundation.service.messaging.host>localhost</foundation.service.messaging.host>
                <foundation.service.messaging.port>11300</foundation.service.messaging.port>
                <foundation.service.messaging.username></foundation.service.messaging.username>
                <foundation.service.messaging.password></foundation.service.messaging.password>
                
                    
                <!-- *********************************************************************
                **************************************************************************
                **                                                                        **
                **                    Agave service-specific properties                     **    
                **                                                                        **
                **************************************************************************
                ***********************************************************************-->
                
                <foundation.base.url>https://agave.iplantc.org</foundation.base.url>
                
                <foundation.service.documentation>http://iplant-dev.tacc.utexas.edu/v2/docs</foundation.service.documentation>
                
                
                <!-- *********************************************************************
                **                                PHP services                             **    
                ***********************************************************************-->
                
                <!-- ****************** Auth service (deprecated) ******************** -->
                
                <foundation.service.auth>${foundation.base.url}/v2/auth</foundation.service.auth>
                

                <!-- ************************ Logging service ************************ -->
                
                <foundation.service.log>http://iplant-qa.tacc.utexas.edu/v2/logging/</foundation.service.log>


                <!-- ************************ PostIts service ************************ -->
                
                <foundation.service.postits>${foundation.base.url}/postits/v2</foundation.service.postits>


                <!-- *********************************************************************
                **                                Java services                             **    
                ***********************************************************************-->
                
                
                <!-- ************************ Apps service *************************** -->
                
                <foundation.service.apps>${foundation.base.url}/apps/v2</foundation.service.apps>
                <foundation.service.apps.jetty.port>13001</foundation.service.apps.jetty.port>
                <foundation.service.apps.jetty.ajp.port>13002</foundation.service.apps.jetty.ajp.port>
                
                
                <!-- ************************ Files service ************************** -->
                
                <foundation.service.files>${foundation.base.url}/files/v2</foundation.service.files>
                <foundation.service.files.disk.quota>-1</foundation.service.files.disk.quota>
                <foundation.service.files.jetty.port>13021</foundation.service.files.jetty.port>
                <foundation.service.files.jetty.ajp.port>13022</foundation.service.files.jetty.ajp.port>
                
                                
                <!-- ************************ Jobs service *************************** -->
                
                <foundation.service.jobs>${foundation.base.url}/jobs/v2</foundation.service.jobs>
                <foundation.service.jobs.gateway.node>false</foundation.service.jobs.gateway.node>
                <foundation.service.jobs.allow.fork>false</foundation.service.jobs.allow.fork>
                <foundation.service.jobs.max.tasks>1</foundation.service.jobs.max.tasks>
                <foundation.service.jobs.max.retries>3</foundation.service.jobs.max.retries>
                <foundation.service.monitoring.max.tasks>1</foundation.service.monitoring.max.tasks>
                <foundation.service.jobs.local.system.id>condor.localhost</foundation.service.jobs.local.system.id>
                <foundation.service.jobs.jetty.port>13031</foundation.service.jobs.jetty.port>
                <foundation.service.jobs.jetty.ajp.port>13032</foundation.service.jobs.jetty.ajp.port>
                
                
                <!-- ************************ Meta service *************************** -->
                
                <foundation.service.meta>${foundation.base.url}/meta/v2</foundation.service.meta>
                <foundation.service.meta.db.host>localhost</foundation.service.meta.db.host>
                <foundation.service.meta.db.port>27017</foundation.service.meta.db.port>
                <foundation.service.meta.db.user>wcs</foundation.service.meta.db.user>
                <foundation.service.meta.db.pwd>d3f@ult$</foundation.service.meta.db.pwd>
                <foundation.service.meta.db.scheme>api</foundation.service.meta.db.scheme>
                <foundation.service.meta.collection>metadata</foundation.service.meta.collection>
                <foundation.service.meta.schema.collection>schemata</foundation.service.meta.schema.collection>
                <foundation.service.meta.jetty.port>13041</foundation.service.meta.jetty.port>
                <foundation.service.meta.jetty.ajp.port>13042</foundation.service.meta.jetty.ajp.port>
                
                <!-- ************************ Monitor service ******************* -->
				
				<foundation.service.monitor>${foundation.base.url}/monitors/v2</foundation.service.monitor>
				<foundation.service.monitor.queue>prod.notifications.queue</foundation.service.monitor.queue>
				<foundation.service.monitor.topic>prod.notifications.topic</foundation.service.monitor.topic>
				<foundation.service.montior.max.q.failures>5</foundation.service.montior.max.q.failures>				
				<foundation.service.monitor.max.retries>1</foundation.service.monitor.max.retries>
				<foundation.service.monitor.max.tasks>2</foundation.service.monitor.max.tasks>
				<foundation.service.monitor.jetty.port>13081</foundation.service.monitor.jetty.port>
				<foundation.service.monitor.jetty.ajp.port>13082</foundation.service.monitor.jetty.ajp.port>

                <!-- ************************ Notification service ******************* -->
                
                <foundation.service.notif>${foundation.base.url}/notifications/v2</foundation.service.notif>
                <foundation.service.notif.queue>prod.notifications.queue</foundation.service.notif.queue>
                <foundation.service.notif.topic>prod.notifications.topic</foundation.service.notif.topic>
                <foundation.service.notif.max.retries>5</foundation.service.notif.max.retries>
                <foundation.service.notif.max.tasks>1</foundation.service.notif.max.tasks>
                <foundation.service.notif.jetty.port>13051</foundation.service.notif.jetty.port>
                <foundation.service.notif.jetty.ajp.port>13052</foundation.service.notif.jetty.ajp.port>
                
                <!-- ************************ Profile service ************************ -->
                <foundation.service.profiles>${foundation.base.url}/profiles/v2</foundation.service.profiles>
                <foundation.service.profiles.trellis.url>https://user.iplantcollaborative.org/api/v1/users/</foundation.service.profiles.trellis.url>
                <foundation.service.profiles.trellis.secret>7da70e413d6c4ee692c2185c3b12bc3666f5dae2</foundation.service.profiles.trellis.secret>
                <foundation.service.profiles.trellis.key>ija0wggqm2g0mogdw06rek</foundation.service.profiles.trellis.key>
                <foundation.service.profiles.jetty.port>13061</foundation.service.profiles.jetty.port>
                <foundation.service.profiles.jetty.ajp.port>13062</foundation.service.profiles.jetty.ajp.port>
                <!--<foundation.service.profiles.trellis.secret>lsqg0telicpg99xsstaijh</foundation.service.profiles.trellis.secret> -->
                <!--<foundation.service.profiles.trellis.key>a97661f8feb4949a27931611aa2ad1e94b335b61</foundation.service.profiles.trellis.key> -->


                <!-- ************************ Systems service ************************ -->
                
                <foundation.service.systems>${foundation.base.url}/systems/v2</foundation.service.systems>
                <foundation.test.credentials.username>wcs</foundation.test.credentials.username>
                <foundation.test.credentials.password>def@ult$</foundation.test.credentials.password>
                <foundation.service.systems.jetty.port>13071</foundation.service.systems.jetty.port>
                <foundation.service.systems.jetty.ajp.port>13072</foundation.service.systems.jetty.ajp.port>
                
                
                <!-- ************************ Transforms service ********************* -->
                
                <foundation.service.transforms>${foundation.base.url}/transforms/v2</foundation.service.transforms>
                <foundation.service.transforms.max.tasks>2</foundation.service.transforms.max.tasks>
                <foundation.service.transforms.file.path>/usr/local/www/apache-tomcat-6.0.37/webapps/transforms/WEB-INF/classes/transforms.xml</foundation.service.transforms.file.path>
                <foundation.service.transforms.conversion.map.path>/usr/local/www/apache-tomcat-6.0.37/webapps/transforms/WEB-INF/classes/transform_conversion_map.xml</foundation.service.transforms.conversion.map.path>
                <foundation.service.transforms.dir.path>/usr/local/www/apache-tomcat-6.0.37/webapps/transforms/WEB-INF/classes/transforms</foundation.service.transforms.dir.path>
                <foundation.service.transforms.jetty.port>13081</foundation.service.transforms.jetty.port>
                <foundation.service.transforms.jetty.ajp.port>13082</foundation.service.transforms.jetty.ajp.port>
                

                <!-- ************************ Transfers service ********************** -->
                
                <foundation.service.transfers>${foundation.base.url}/transfers/v2</foundation.service.transfers>
                <foundation.service.transfers.max.tasks>1</foundation.service.transfers.max.tasks>
                <foundation.service.transfers.max.simultaneous>-1</foundation.service.transfers.max.simultaneous>
                <foundation.service.transfers.max.retries>3</foundation.service.transfers.max.retries>
                <foundation.service.transfers.jetty.port>13091</foundation.service.transfers.jetty.port>
                <foundation.service.transfers.jetty.ajp.port>13092</foundation.service.transfers.jetty.ajp.port>
                
			</properties>
		</profile>
	</profiles>

</settings>
