accepted_credentials              "*"
authorized_retrievers             "*"
default_retrievers                "*"
authorized_renewers               "*"
default_renewers                  "none"
authorized_key_retrievers         "*"
default_key_retrievers            "none"
trusted_retrievers                "*"
default_trusted_retrievers        "none"
certificate_issuer_cert           /var/lib/globus/simple_ca/cacert.pem
certificate_issuer_key            /var/lib/globus/simple_ca/private/cakey.pem
certificate_issuer_key_passphrase "globus"
certificate_serialfile            /var/lib/globus/simple_ca/serial
certificate_out_dir               /var/lib/globus/simple_ca/newcerts
certificate_mapfile               /etc/grid-security/grid-mapfile
#certificate_serial_skip           5
cert_dir 				                  /etc/grid-security/certificates
max_cert_lifetime                 9516
min_keylen                        2048
pam                               "sufficient"
pam_id                            "myproxy"
