<!--

    Copyright (c) 2014, Texas Advanced Computing Center
    All rights reserved.

    Redistribution and use in source and binary forms, with or without
    modification, are permitted provided that the following conditions are met:

    * Redistributions of source code must retain the above copyright notice, this
      list of conditions and the following disclaimer.

    * Redistributions in binary form must reproduce the above copyright notice,
      this list of conditions and the following disclaimer in the documentation
      and/or other materials provided with the distribution.

    * Neither the name of the University of Texas at Austin nor the names of its
      contributors may be used to endorse or promote products derived from
      this software without specific prior written permission.

    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS AS IS
    AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
    IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
    DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
    FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
    DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
    SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
    CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
    OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
    OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

    The views and conclusions contained in the software and documentation are those
    of the authors and should not be interpreted as representing official policies,
    either expressed or implied, of the FreeBSD Project.

-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<profiles>
		<!-- mpg Development -->
		<profile>
			<id>mpg</id>
			<activation>

			</activation>
			<properties>

				<api.base.url>http://docker.example.com</api.base.url>

				<!-- ********************** Service Properties ************************* -->

				<mpg.debug.mode>false</mpg.debug.mode>
				<mpg.debug.username></mpg.debug.username>

				<mpg.api.version>0.1.0</mpg.api.version>
				<mpg.base.url>${api.base.url}/myproxy</mpg.base.url>

				<mpg.jetty.port>8080</mpg.jetty.port>
				<mpg.jetty.ajp.port>8090</mpg.jetty.ajp.port>

				<mpg.default.lifetime>43200</mpg.default.lifetime>

				<!-- ********************** Authentication Properties ************************* -->

				<mpg.auth.type>none</mpg.auth.type>

				<mpg.auth.ldap.url>ldaps://ldap.iplantcollaborative.org</mpg.auth.ldap.url>
				<mpg.auth.ldap.base.dn>ou=People,dc=iplantcollaborative,dc=org</mpg.auth.ldap.base.dn>
				<mpg.auth.ldap.keystore>${user.home}/jssecacerts</mpg.auth.ldap.keystore>
				<mpg.auth.ldap.truststore>${user.home}/jssecacerts</mpg.auth.ldap.truststore>

				<mpg.auth.wso2.jwt.header>x-jwt-assertion</mpg.auth.wso2.jwt.header>

				<mpg.auth.myproxy.host>localhost:8080</mpg.auth.myproxy.host>
				<mpg.auth.myproxy.port>7512</mpg.auth.myproxy.port>

				<!-- ********************** MyProxy Properties ************************* -->

				<mpg.delegated.myproxy.mode>PROXY</mpg.delegated.myproxy.mode>
				<mpg.delegated.myproxy.host>docker.example.com</mpg.delegated.myproxy.host>
				<mpg.delegated.myproxy.port>7512</mpg.delegated.myproxy.port>
				<mpg.delegated.myproxy.hostcert>/Users/dooley/workspace/myproxy-gateway/myproxy/hostcerts/mpgcert.pem</mpg.delegated.myproxy.hostcert>
				<mpg.delegated.myproxy.hostkey>/Users/dooley/workspace/myproxy-gateway/myproxy/hostcerts/new-mpgkey.pem</mpg.delegated.myproxy.hostkey>
				<mpg.delegated.myproxy.hostkey.pass></mpg.delegated.myproxy.hostkey.pass>


				<!-- ********************** Email Properties ************************* -->

				<mpg.smtp.user>dooley</mpg.smtp.user>
				<mpg.smtp.password></mpg.smtp.password>
				<mpg.smtp.host>localhost</mpg.smtp.host>
				<mpg.smtp.port></mpg.smtp.port>
				<mpg.smtp.auth>false</mpg.smtp.auth>
				<mpg.smtp.from.name>iPlant Support</mpg.smtp.from.name>
				<mpg.smtp.from.address>support@iplantcollaborative.org</mpg.smtp.from.address>

				<!-- *************************** Database **************************** -->
				<mpg.db.jndi.connection>java:comp/env/jdbc/mpg</mpg.db.jndi.connection>
				<mpg.db.url>jdbc:mysql://localhost:3306/mpg?zeroDateTimeBehavior=convertToNull&amp;sessionVariables=FOREIGN_KEY_CHECKS=0&amp;relaxAutoCommit=true</mpg.db.url>
				<mpg.db.host>localhost</mpg.db.host>
				<mpg.db.bootstrap>jdbc:mysql://localhost:3306/mavenbootstrap?sessionVariables=FOREIGN_KEY_CHECKS=0&amp;relaxAutoCommit=true</mpg.db.bootstrap>
				<mpg.db.driver>com.mysql.jdbc.Driver</mpg.db.driver>
				<mpg.db.database>mpg</mpg.db.database>
				<mpg.db.username>root</mpg.db.username>
				<mpg.db.password></mpg.db.password>

				<!-- ************************* Test Database ************************* -->
				<mpg.db.test.jndi.connection>java:comp/env/jdbc/mpg</mpg.db.test.jndi.connection>
				<mpg.db.test.url>jdbc:mysql://localhost:3306/mpgtest?sessionVariables=FOREIGN_KEY_CHECKS=0&amp;relaxAutoCommit=true</mpg.db.test.url>
				<mpg.db.test.host>localhost</mpg.db.test.host>
				<mpg.db.test.bootstrap>jdbc:mysql://localhost:3306/mavenbootstrap?sessionVariables=FOREIGN_KEY_CHECKS=0&amp;relaxAutoCommit=true</mpg.db.test.bootstrap>
				<mpg.db.test.driver>com.mysql.jdbc.Driver</mpg.db.test.driver>
				<mpg.db.test.database>mpgtest</mpg.db.test.database>
				<mpg.db.test.username>root</mpg.db.test.username>
				<mpg.db.test.password></mpg.db.test.password>

				<!-- ************************* Test Properties ************************* -->
				<mpg.test.username>testuser</mpg.test.username>
				<mpg.test.password>testuser</mpg.test.password>
				<mpg.test.delegated.username>testshareuser</mpg.test.delegated.username>
				<mpg.test.delegated.credentialname>testshareusercredential</mpg.test.delegated.credentialname>
				<mpg.test.delegated.dn>/C=US/O=Texas Advanced Computing Center/OU=Dev Certificate Authorities/OU=dockerCA/CN=testuser</mpg.test.delegated.dn>

				<mpg.test.implicit.host>docker.example.com</mpg.test.implicit.host>
				<mpg.test.implicit.port>7513</mpg.test.implicit.port>
				<mpg.test.implicit.username>testuser</mpg.test.implicit.username>
				<mpg.test.implicit.dn>/C=US/O=Texas Advanced Computing Center/OU=Dev Certificate Authorities/OU=dockerCA/CN=testuser</mpg.test.implicit.dn>
			</properties>
		</profile>
	</profiles>

</settings>
